@model TutorApp.Website.Models.Student
@{
}
<style>
    .form-group {
        margin: 6px;
    }
</style>
<div class="isotope_filters isotope-courses-streampag">
    <a href="students" data-filter="*" class="isotope_filters_button active" onclick="toDashboard()">Home</a>
    <a href="#" data-filter="*" class="isotope_filters_button">
        Add Student
    </a>
</div>
<form method="post" asp-action="addStudent">
    <input type="hidden" asp-for="StudentId" />
    @if (Model.StudentId > 0)
    {
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="PasswordHash" />
    }
    <div>
        @if (!string.IsNullOrEmpty(ViewBag.errorMsg))
        {
            <h6 style="color:red">@ViewBag.errorMsg </h6>
        }
    </div>
    <div data-columns="3">
                <div class="form-group">
                <label for="className" style="font-weight: 700;"> Name: </label>
                @if (Model.StudentId > 0)
                {
                    <label>@Model.Name</label>
                }
                else
                {
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter name" style="border: 0.5px solid lightgrey;">
                }
                </div>
                <div class="form-group">
                <label for="className" style="font-weight: 700;"> Email:</label>
                @if (Model.StudentId > 0)
                {
                    <label>@Model.Email</label>
                }
                else
                {
                    <input asp-for="Email" type="text" class="form-control" placeholder="Enter email" style="border: 0.5px solid lightgrey;">
                }
                    
                </div>

                <div class="form-group">
                    <label for="className" style="font-weight: 700;"> Class:</label>
            <select asp-for="ClassId" style="border-radius:4px;padding: 0.45em 0.5em;" asp-items="@(new SelectList(ViewBag.Classes,"ClassId","ClassName"))" class="form-control"></select>
                </div>
                @if (Model.StudentId == 0)
                {
                <div class="form-group">
                    <label for="className" style="font-weight: 700;"> Password:</label>
                    <input asp-for="PasswordHash" type="password" class="form-control" placeholder="Enter password" style="border: 0.5px solid lightgrey;">
                </div>
                <div class="form-group">
                    <label for="className" style="font-weight: 700;"> Confirm Password:</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Enter confirm password" style="border: 0.5px solid lightgrey;">
            </div>
        }
        else
        {
            <div class="form-group">
                <label for="className" style="font-weight: 700;"> Approve?:</label>
                <select asp-for="IsApproved" style="border-radius:4px;padding: 0.45em 0.5em;"class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
        }
    </div>
        
        <div class="form-group">
        @if (Model.StudentId > 0)
        {
            <button type="submit" class="btn btn-primary">Update</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Submit</button>
        }
        </div>
    </div>
</form>

<script>
    function toDashboard() {
        window.location.href = `dashboard`;
    }
</script>