@model List<TutorApp.Website.Models.Student>
@{
}
<div class="isotope_filters isotope-courses-streampag">
    <a href="dashboard" class="isotope_filters_button active" onclick="toDashboard()">Home</a>
    <a href="#" data-filter="*" class="isotope_filters_button">
        Students
    </a>
</div>
<button type="button" class="btn btn-link nav-link text-dark" style="margin-bottom: 15px;" onclick="addStudent()">Add Student</button>
<div class="isotope_wrap" data-columns="4">
    @foreach (var _class in Model)
    {
        <div id="subject-@_class.ClassId" class="subject-topics">
                <!-- Topic item -->
            <div class="isotope_item isotope_item_courses isotope_column_3 flt_@_class.ClassId">
                    <article class="post_item post_item_courses odd">
                        <div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
                            <div class="post_featured img">
                                <!-- Remove href="javascript:void(0);" -->
                                <a href="@Url.Action("ViewTopic", "Student")">
                                    <img alt="@_class.Name" src="https://img.freepik.com/premium-photo/education-elements-illustration-with-education-day-back-school-poster-earth-globe-graduation-cap-pencil-book-white-background_551826-23999.jpg?semt=ais_hybrid">
                                </a>
                                <!-- Updated Topic Link -->
                                <h4 class="post_title">
                                @Html.ActionLink(_class.Name, "ViewTopic", "Student", null)
                                </h4>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- /Topic item -->
        </div>

    }
</div>
<script>
    function addStudent() {
        window.location.href = "addStudent";
    }

        function toDashboard() {
            window.location.href = `dashboard`;
        }
</script>